h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.title {
  background: url('./images/pattern.webp') no-repeat;
}

.title h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}